﻿@model NationalCriminalInformationCenter.Models.SearchModel
@{
    ViewBag.Title = "National Criminal Information Center";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>

            </hgroup>


        </div>
    </section>
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    
    @Html.ValidationSummary()

    <fieldset>
        <legend>Search Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
             
            <li style="margin-left: 347px;margin-top: -82px;">
                <p>
                    <label for="Age">Age range:</label>
                    <input type="text" id="Age" readonly style="border: 0; color: #f6931f; font-weight: bold;width: 60px;">
                </p>
            </li>
            <li style="width: 240px; font-size: 13px;margin-left: 823px;margin-top: -75px;">
                @Html.LabelFor(m => m.Sex)
                @Html.DropDownList("Gender", "--Select Gender--")
            </li>
             <li>
                <p>
                    <label for="Height">Height range:</label>
                    <input type="text" id="Height" readonly style="border: 0; color: #f6931f; font-weight: bold;width: 60px;">
                </p>
            </li>
                <li>
                <p>
                    <label for="Weight">Weight range:</label>
                    <input type="text" id="Weight" readonly style="border: 0; color: #f6931f; font-weight: bold;width: 60px;">
                </p>
            </li>

             
            <li>
                @Html.LabelFor(m => m.Nationality)
                @Html.TextBoxFor(m => m.Nationality)
            </li>

        </ol>
        <button type="submit">Search</button>
    </fieldset>
    
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>jQuery UI Slider - Range slider</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script>
            $(function () {
                $("#Age-range").slider({
                    range: true,
                    min: 0,
                    max: 150,
                    values: [20, 60],
                    slide: function (event, ui) {
                        $("#Age").val(ui.values[0] + " - " + ui.values[1]);
                    }
                });
                $("#Age").val($("#Age-range").slider("values", 0) +
                  " - " + $("#Age-range").slider("values", 1));
            });


            $(function () {
                $("#Height-range").slider({
                    range: true,
                    min: 0,
                    max: 150,
                    values: [20, 60],
                    slide: function (event, ui) {
                        $("#Height").val(ui.values[0] + " - " + ui.values[1]);
                    }
                });
                $("#Height").val($("#Height-range").slider("values", 0) +
                  " - " + $("#Height-range").slider("values", 1));
            });

            $(function () {
                $("#Weight-range").slider({
                    range: true,
                    min: 0,
                    max: 150,
                    values: [20, 60],
                    slide: function (event, ui) {
                        $("#Weight").val(ui.values[0] + " - " + ui.values[1]);
                    }
                });
                $("#Weight").val($("#Weight-range").slider("values", 0) +
                  " - " + $("#Weight-range").slider("values", 1));
            });
        </script>
    </head>
    <body>



        <div id="Age-range" style="width: 310px;margin-bottom: 459px;margin-top: -323px;margin-left: 427px;">
        </div>
        <div id="Height-range" style="width: 310px;margin-bottom: 511px;margin-top: -407px;margin-left: 101px;">
        </div>

          <div id="Weight-range" style="width: 310px;margin-bottom: 211px;margin-top: -432px;margin-left: 101px;">
        </div>


    </body>
    </html>
    
}

@section Scripts {

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    @Scripts.Render("//code.jquery.com/jquery-1.10.2.js")
    @Scripts.Render("//code.jquery.com/ui/1.11.4/jquery-ui.js")
    <link rel="stylesheet" href="/resources/demos/style.css">

    @Scripts.Render("~/bundles/jqueryval")
}

