﻿@model IEnumerable<WcfEfMvcService.ProductEntity>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Ten Most Expensive Products</h2>
<table>
    <tr>
        <th>
          Product Name
        </th>

        <th>
           Quantity Per Unit
        </th>
        <th>
           Unit Price
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityPerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
    </tr>
}
</table>
