﻿@model NationalCriminalInformationCenter.Models.RegisterModel

@if (@ViewBag.DisplayEmail != null)
{
   
    <text>
    welcome  @ViewBag.DisplayUserName
    @ViewBag.DisplayEmail
   
 @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
           {
            
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
           }
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
